<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sky's UPC Database</title>
    <link rel="stylesheet" href="/css/vendored/bulma.min.css">
    <script src="/js/database.js" async type="module"></script>
  </head>
  <body>
    <script id="replace_with_navbar" src="/js/nav.js" type="module"></script>
    <div class="box m-4">
      <h1 class="title is-4" id="database_info_items" data-text="There are {0} items in the database.">There are {0} items in the database.</h1>
      <h1 class="title is-4" id="database_info_total_backups" data-text="There are {0} total database backups.">There are {0} total database backups.</h1>
      <h1 class="title is-4" id="database_info_database_size" data-text="The database is {0}.">The database is {0}.</h1>
    </div>
    <div class="box m-4">
      <h1 class="title is-5">Backup Browser</h1>
      <!-- This is the actual table contents -->
      <h1 id="showing_x_of_y_backups_h1" class="title is-4 has-text-centered my-0" data-text="Showing {0} backups."></h1>
      <table class="table is-striped is-bordered mt-0" style="margin: 3em auto;">
        <thead>
          <tr>
            <th>Paste</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody id="backup_table_tbody">
        </tbody>
      </table>
    </div>
    <div id="replace_with_footer"></div>
  </body>
</html>