<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sky's UPC Database</title>
    <link rel="stylesheet" href="/css/vendored/bulma.min.css">
    <script src="/js/lookup.js" async type="module"></script>
  </head>
  <body>
    <script id="replace_with_navbar" src="/js/nav.js" type="module"></script>
    <div class="box m-6" style="width:fit-content;">
      <h1 class="title">UPC Lookup</h1>
      <div>
        <input class="input" type="number" style="width:15ch;" maxlength="12" id="upc_input">
        <button class="button is-link" onclick="run_upc(this);" id="upc_submit">Check UPC</button>
      </div>
      <div class="box mt-4" style="width:fit-content;height:fit-content;">
        <h1 class="title is-4">UPC Details:</h1>
        <p id="upc_details_upc" data-text="UPC: {0}">UPC:  </p>
        <p id="upc_details_name" data-text="Name: {0}">Name: </p>
        <p id="upc_details_quan" data-text="Quantity: {0}">Quantity: </p>
      </div>
    </div>
    <div style="position:absolute;height:fit-content;bottom:0;width:100%;">
      <div id="replace_with_footer"></div>
    </div>
  </body>
</html>